body{
    background-color: rgb(220, 220, 220);
    font-family: Arial, sans-serif;
}

h2{
    color: rgb(7, 71, 145);
}

div{
   border-radius: 8%;
   margin-top: 50px;
}   

figure{
    border: solid 2px rgb(0, 140, 255);
}

.card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
