*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(250, 235, 215, 0.671);
}

main{
    max-width: 900px;
    margin: auto;
    overflow: auto;
}

section{
    float: left;
    width: 64%;
    padding-right: 2%;
    
}

aside{
    float: right;
    width: 34%;
}

header, footer{
    text-align: center;
    background-color: rgba(182, 105, 5, 0.918);
    padding-top: 30px;
    margin-bottom: 10px;
    color :white  ;
}
article{
    border-left: red 5px solid;
    background-color: white;
    margin-top: 5%;
    border-radius: 8px;
}

figure{
    border : solid 2px rgb(255, 0, 0);
    margin: 10px;
}

header nav ul {
    list-style: none; 
    display: flex;    
    justify-content: center; 
    gap: 20px;        
}

header nav ul li a {
    color: white;     
    text-decoration: none; 
    font-weight: bold;
}
header nav ul {
    list-style: none; 
    display: flex;    
    justify-content: center; 
    gap: 20px;        
}

header nav ul li a {
    color: white;     
    text-decoration: none; 
    font-weight: bold; 
}

img{
    max-width: 100%;
    height: auto;
}